<div class="container">
    <img [src]="run?.imageUrl" [alt]="run?.description" class="run-image">
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{run?.description}} </h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div><strong>Date:</strong> {{run?.date}}</div>
        <div><strong>Time:</strong> {{run?.time}}</div>
        <div><strong>Duration:</strong> {{run?.duration}}</div>
      </div>
      <div class="col-md-6">
        <address>
          <strong>Address:</strong><br />
          {{run?.location?.address}}<br />
          {{run?.location?.city}}, {{run?.location?.country}}
        </address>
      </div>
    </div>
  </div>
